/* ALL CUSTOM UNIT STYLES IN HERE */
/* Custom classes
-------------------------------------------------- */
body{
  background:white;
}

/* Create a bit more whitespace around the breadcrumbs */
#ubc7-unit-menu {
  margin-bottom:5px;
}
.full-width .full-width-container .breadcrumb {
  height:auto;
  margin-bottom:5px;
}

/* Center the content area */
div#content {
  margin-left: auto;
  margin-right: auto; 
}

/* Add a little more whitespace at the bottom of the page */
div#content section {
  padding-bottom:20px;
}

/* Make the footer top border stand out a bit more */
#ubc7-unit-footer {
  border-top-color: #0680A6;
}

/* My Account Login/Logout Items */
#login-link {
  width:70%;
}
#login-link img {
  margin-right: 10px;
}
#login-link a {
  display: inline-block;
  font-style: normal;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #315d7b;
  color: #FFF;
}

/* UNIT SPECIFIC
Typography
-------------------------------------------------- */
.fancybox-title, 
.full-width-container,
.survey,
.ubc-menu,
footer {
  font-family:'Open Sans', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  background:#FFF
  text-rendering: optimizelegibility;
}
.full-width-container h1 {
  color: #002145;
  font-size: 290%;
  line-height: 133.3%;
  margin: 0 0 2%;
  letter-spacing: 5px;
  text-transform: uppercase;
  border:none;
}
.full-width-container h2 {
  color: #002145;
  font-size: 235.2%;
  line-height: 150%;
  margin: 0 0 1.7%;
  letter-spacing: 2px;
}
.full-width-container h3 {
  color: #0680A6;
  font-size: 176.4%;
  line-height: 166.6%;
  margin: 0 0 1.3%;
  letter-spacing: 2px;
}
.full-width-container h3 a,
.full-width-container h4 a,
.full-width-container h5 a,
.full-width-container h6 a {
  text-decoration: underline;
}
.full-width-container h3 a:visited, 
.full-width-container h4 a:visited, 
.full-width-container h5 a:visited, 
.full-width-container h6 a:visited {
  color: #0680a6;
}

/* UNIT COLOURS
Unit Bar background gradient and box shadow */
#ubc7-unit {
  background: #245b7b;
  /* replace with unit colour (or use theme settings) */
  box-shadow: inset 0px -10px 10px -10px #333333;
  -moz-box-shadow: inset 0px -10px 10px -10px #333333;
  -webkit-box-shadow: inset 0px -10px 10px -10px #333333;
}

/* MEDIA QUERIES 
(these are example queries to get you started - these can be modified to suit)
-------------------------------------------------- */
@media screen and (min-width: 1200px) {
  /* START 1200 STYLES */

  /* Center Breadcrumbs and Content */
  .full-width .full-width-container .breadcrumb,
  div#content{
    max-width: 1170px;
  }
  .full-width .full-width-container .breadcrumb {
    margin-left:auto;
    margin-right:auto;
  }
  
  /* END 1200 STYLES */  
}
@media screen and (max-width: 1199px) {
  /* START 768-979 STYLES */

  /* Center Breadcrumbs and Content */
  .full-width .full-width-container .breadcrumb,
  div#content{
    max-width: 940px;
  }
  .full-width .full-width-container .breadcrumb {
    margin-left:auto;
    margin-right:auto;
  }
  
  /* END 768-979 STYLES */
}
@media screen and (max-width: 979px) { 
  /* START 768-979 STYLES */

  /* Make the header fonts smaller */
  .full-width-container h1 {
    font-size: 180%;
    line-height: 120%;
    letter-spacing: 2px;
    margin: 0 0 2%;
  }
  .full-width-container h2 {
    font-size: 160%;
    line-height: 130%;
    margin: 0 0 2%;
  }
  .full-width-container h3 {
    font-size: 152.9%;
    line-height: 146.1%;
    margin: 0 0 1.7%;
  }


  /* Center Breadcrumbs and Content */
  div#content{
    max-width: 940px;
  }
  .full-width .full-width-container .breadcrumb {
    margin-left:-20px;
    margin-right:20px;
  }
  
  /* END 768-979 STYLES */
}
@media screen and (max-width: 767px) {
  /* START >767 STYLES */

  /* Center content */
  div#content{
    max-width: 767px;
  }
  
  /* END >767 STYLES */
}
@media screen and (max-width: 720px) {
  /* START >720 STYLES */
  
  /* Center content */
  div#content{
    max-width: 720px;
  }

  /* END >720 STYLES */
}
@media screen and (max-width: 520px) {
  /* START 520 STYLES */
  
  /* Center content */
  div#content{
    max-width: 520px;
  }  

  /* END 520 STYLES */
}
@media screen and (max-width: 480px) {
  /* START 480 STYLES */
  
  /* Center content */
  div#content{
    max-width: 480px;
  }

  /* END 480 STYLES */
}
