/* ALL CUSTOM UNIT STYLES IN HERE */
/* Custom classes
-------------------------------------------------- */
body{
  background:white;
}

/* Soften the color of the menu bar to match newer UBC websites */
#ubc7-unit-menu, 
#ubc7-unit-menu .navbar-inner,
#ubc7-unit-menu .btn-group .btn, 
#ubc7-unit-menu .nav>li>a.active,
#ubc7-unit-menu .nav>li.active-trail>.btn-group, 
#ubc7-unit-menu .nav>li.active-trail:hover>.btn-group,
#ubc7-unit-alternate-navigation .btn-group .btn,
#ubc7-unit-alternate-navigation .nav>li.active-trail>.btn-group,
#ubc7-unit-alternate-navigation .nav>li.active-trail>.btn-group .btn {
  background-color:#f6f6f6;
}
/* Fix menu hover effect colors */
#ubc7-unit-menu .nav>li>a.active:hover, 
#ubc7-unit-menu .nav>li.active-trail>.btn-group:hover, 
#ubc7-unit-alternate-navigation .nav>li.active-trail>.btn-group:hover,
#ubc7-unit-menu .nav>li.active-trail:hover>.btn-group:hover,
#ubc7-unit-menu .nav>li.active-trail>.btn-group .btn:hover,
#ubc7-unit-alternate-navigation .nav>li.active-trail>.btn-group .btn:hover {
  background-color:#002145;
  color:white;
}
#ubc7-unit-menu .nav>li.active-trail>.btn-group:hover {
  background-color: #002145;
  color: white;
}
/* Remove drop shadow on menu items */
#ubc7-unit-menu .nav>li>a.active,
#ubc7-unit-menu .nav>li.active-trail>.btn-group,
#ubc7-unit-alternate-navigation .nav>li.active-trail>.btn-group {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Create a bit more whitespace around the breadcrumbs */
.full-width .full-width-container .breadcrumb {
  height:auto;
  margin-bottom:5px;
}

/* SIDEBAR NAVIGATION */
/* Align the sidebar navigation menu with the title of the page */
.bootstrap-sidenav {
  margin-top:10px;
}
/* Arrow styles */
.bootstrap-sidenav a,
.bootstrap-sidenav .collapsed>a,
.bootstrap-sidenav .expanded>a, 
.bootstrap-sidenav>.active-trail>a,
.bootstrap-sidenav>.active>a
{
  background-position: right center;
  background-repeat: no-repeat;
}

/* Right arrow for menu items */
.bootstrap-sidenav a,
.bootstrap-sidenav .collapsed>a {
  background-image: url('../img/page-menu-arrow.png');
}
/* Down arrow for menu items with child items */
.bootstrap-sidenav .expanded>a {
  background-image: url('../img/page-menu-arrow-child.png');
}
/* Down arrow for active trail menu items */
.bootstrap-sidenav>.active-trail>a {
  background-image: url('../img/page-menu-arrow-active-trail.png');
}
/* Right arrow for active menu items */
.bootstrap-sidenav>.active>a {
  background-image: url('../img/page-menu-arrow-active.png');
}

/* First level menu active link */
.bootstrap-sidenav>.active>a, 
.bootstrap-sidenav a.active {
  background-color: #0088cc;
  border-color: #0088cc;
  color:white;
  font-weight: bold;
}
.bootstrap-sidenav>.active>a {
  padding: 8px 14px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #d7e0e7;
}
/* Second level of expanded menu */ 
.bootstrap-sidenav .bootstrap-sidenav {
  background-color: #edf1f4
}
/* Third level of expanded menu */
.bootstrap-sidenav .bootstrap-sidenav .bootstrap-sidenav {
  background-color: #d7e0e7
}

/* Center the content area */
div#content {
  margin-left: auto;
  margin-right: auto; 
}
div#main {
  padding:0px;
}

/* Improve Drupal Status Message Theming
  Drupal has 3 levels of messages:
  - Error
  - Warning
  - Status
 */
.alert,
.alert>h4 {
  color: white;
}
.alert {
  border-radius: 4px;
  border: none;
}
/* Remove underline on close alert link */
.alert a.close {
  text-decoration: none;
  color: white;
}
/* Error message */
.alert-error {
  background-color: #DF382C;
}
/* Warning message */
.alert-warning {
  background-color: #ECA918;
}
/* Status message */
.alert-status {
  background-color: #38B44A;
}
/* Enlarge the glyphicons used in messages and move them to the left */
.alert [class^="icon-"], 
.alert [class*=" icon-"] {
  font-size: 40px;
  margin: 0 20px 20px 0;
  float: left;
}

/* Add a little more whitespace at the bottom of the page */
div#content section {
  padding-bottom:20px;
}

/* Make the footer top border stand out a bit more */
#ubc7-unit-footer {
  border-top-color: #0680A6;
}

/* My Account Login/Logout Items */
#login-link {
  width:70%;
}
#login-link img {
  margin-right: 10px;
}
#login-link a {
  display: inline-block;
  font-style: normal;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #315d7b;
  color: #FFF;
}


/* UNIT SPECIFIC
Typography
-------------------------------------------------- */
.fancybox-title, 
.full-width-container,
.survey,
.ubc-menu,
footer {
  font-family:'Open Sans', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  background:#FFF
  text-rendering: optimizelegibility;
}
.full-width-container h1 {
  color: #002145;
  font-size: 290%;
  line-height: 133.3%;
  margin: 0 0 2%;
  letter-spacing: 5px;
  text-transform: uppercase;
  border:none;
}
.full-width-container h2 {
  color: #002145;
  font-size: 235.2%;
  line-height: 150%;
  margin: 0 0 1.7%;
  letter-spacing: 2px;
}
.full-width-container h3 {
  color: #0680A6;
  font-size: 176.4%;
  line-height: 166.6%;
  margin: 0 0 .5%;
  letter-spacing: 2px;
}
.full-width-container h3 a,
.full-width-container h4 a,
.full-width-container h5 a,
.full-width-container h6 a {
  text-decoration: underline;
}
.full-width-container h3 a:visited, 
.full-width-container h4 a:visited, 
.full-width-container h5 a:visited, 
.full-width-container h6 a:visited {
  color: #0680a6;
}

/* UNIT COLOURS
Unit Bar background gradient and box shadow */
#ubc7-unit {
  background: #245b7b;
  /* replace with unit colour (or use theme settings) */
  box-shadow: inset 0px -10px 10px -10px #333333;
  -moz-box-shadow: inset 0px -10px 10px -10px #333333;
  -webkit-box-shadow: inset 0px -10px 10px -10px #333333;
}

/* FRONT PAGE
-------------------------------------------------- */
.panel-pane .pane-content {
  padding: 0 20px;
}

.panel-pane {
  padding: 20px 0;
}

/* Break out the front page to full width */
body.front div#main {
  max-width: none;
}
body.front .full-width .full-width-container .expand,
body.front .full-width-container,
body.front div#content {
  margin-left:0;
  margin-right:0;
  padding-left: 0;
  padding-right: 0;
}
body.front div.inflate,
.pane-highlight-carousel,
.pane-highlight-carousel .pane-content  {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
body.front .panel-pane h2 {
  color: #002145;
  font-size: 290%;
  font-weight: normal;
  line-height: 133.3%;
  margin: 0 0 2%;
  letter-spacing: 5px;
  text-transform: uppercase;
  border:none;
  text-align: center;
}

/* Remove extra padding at bottom of page before footer */
body.front div#content section {
  padding-bottom: 0px;
}

/* Carousel controls */
.carousel-control {
  text-decoration: none;
  border:none;
  background:none;
  font-size: 150px;
}
/* Carousel image caption */
.views-field-field-highlight-image-caption {
  position: absolute;
  background-color: rgba(47,93,124, 0.75);
  border-radius: 0 25px 25px 0;
  color: white;
  padding: 1.5em 2.2em 1.5em 5%;
  /* bottom: calc(10% + 174px); */
  bottom: 1em;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

/* Front page news listing */
.front-news .pane-content{
  max-width: 1170px;
  margin: 0 auto;
}
.front-news .news-title a {
  text-decoration: none;
}
.front-news .row-fluid > div {
  padding: 10px 5px 25px 5px;
}

/* Front page events listing */
.front-events {
  background-color: #C3D0DC;
}
.front-events .pane-content {
  max-width: 1170px;
  margin: 0 auto;  
}
.front-events .event-title,
.front-events .event-date,
.front-events .event-presenter,
.front-events .event-details {
  margin: 0 0 4px 70px;
  display: block;
}
.front-events .event-title a {
  text-decoration: none;
}
.front-events .row-fluid > div {
  margin: 10px 0 30px 0;
  padding-right: 10px;
}

/* Date Box for events */
.date-box {  
  /* background-color: #f7c23d; */
  color: #FFFFFF;
  float: left;
  /* margin: 5px 10px 0 0;
  padding: 2px 0 0;
  */
  margin:0;
  padding:0;
  text-align: center;
  width:100%;
  /* width: 50px; */
} 
/* Short Month PHP date format (ex. SEP) */
.date-box .dateM {
  display: block;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 3px;
}
/* Day of month PHP date format (ex. 3) */
.date-box .datej {
  font-size: 1.4em;
  margin-bottom: 7px;
  display: block;
  text-align: center;
  font-weight: bold;
}

/* Hexagonal wrapper.  Used on the events date box.  Could be used on other things */
.hex {
  float:left;
  margin-top: 8px;
}
.hex-left {
  float: left;
  border-right: 15px solid #6C6;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
}
.hex-center {
  float: left;
  width: 30px;
  height: 52px;
  background-color: #6C6;
}
.hex-right {
  float: left;
  border-left: 15px solid #6C6;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
}


/* MEDIA QUERIES 
(these are example queries to get you started - these can be modified to suit)
-------------------------------------------------- */
@media screen and (min-width: 1200px) {
  /* START 1200 STYLES */  

  /* Center Breadcrumbs and Content */
  .full-width .full-width-container .breadcrumb,
  div#main {
    max-width: 1170px;
  }
  .full-width .full-width-container .breadcrumb,
  div#main  {
    margin-left:auto;
    margin-right:auto;
  }

  /* Create a bit more whitespace around the breadcrumbs */
  #ubc7-unit-menu {
    margin-bottom:5px;
  }
  /* Remove the whitespace on the front page as there are no breadcrumbs to show */  
  body.front #ubc7-unit-menu {
    margin-bottom:0;
  }

  /* Carousel image caption */
  .views-field-field-highlight-image-caption {
    font-size: 23px;
  }
  
  /* END 1200 STYLES */  
}
@media screen and (max-width: 1199px) {
  /* START 768-979 STYLES */

  /* Center Breadcrumbs and Content */
  .full-width .full-width-container .breadcrumb,
  div#main{
    max-width: 940px;
  }
  .full-width .full-width-container .breadcrumb,
  div#main  {
    margin-left:auto;
    margin-right:auto;
  }

  /* Carousel image caption */
  .views-field-field-highlight-image-caption {
    font-size: 19px;
  }
  
  /* END 768-979 STYLES */
}
@media screen and (max-width: 979px) { 
  /* START 768-979 STYLES */

  /* Align all main level nav items positioning */
  #ubc7-unit-menu .dropdown .btn-group a.btn,
  #ubc7-unit-alternate-navigation .dropdown .btn-group a.btn {
    padding-left:15px;
  }
  /* Reduce sub menu item indent a bit */
  .nav-collapse .dropdown-menu a {
    padding-left: 25px;
  }
  /* Soften the color of the navbar to match newer UBC websites */  
  #ubc7-unit-menu .nav-collapse li a, 
  #ubc7-unit-alternate-navigation .nav-collapse li a,
  #ubc7-unit-menu .nav-collapse li, 
  #ubc7-unit-alternate-navigation .nav-collapse li, 
  #ubc7-unit-menu .dropdown .btn-group .btn, 
  #ubc7-unit-alternate-navigation .dropdown .btn-group .btn {
    background-color: #f6f6f6;
    color: #002145;
  }
  /* Fix menu hover effect colors */
  #ubc7-unit-menu .nav-collapse li a:hover, 
  #ubc7-unit-alternate-navigation .nav-collapse li a:hover,
  #ubc7-unit-menu .nav-collapse li:hover, 
  #ubc7-unit-alternate-navigation .nav-collapse li:hover, 
  #ubc7-unit-menu .dropdown .btn-group .btn:hover, 
  #ubc7-unit-alternate-navigation .dropdown .btn-group .btn:hover {
    background-color: #002145;
    color: white;
  }  

  /* Center Breadcrumbs and Content */
  .full-width .full-width-container .breadcrumb {
    margin-left: -20px;
    margin-right: 20px;
  }

  body.front .full-width-container {
    margin-left: -20px;
    margin-right: -20px;
  }

  /* Carousel image caption */
  .views-field-field-highlight-image-caption {
    font-size: 19px;
  }

  /* END 768-979 STYLES */
}
@media screen and (max-width: 767px) {
  /* START >767 STYLES */

  /* Center content */
  div#content{
    max-width: 767px;
  }

  /* Carousel image caption */
  .views-field-field-highlight-image-caption {
    font-size: 13px;
  }

  /* Make the header fonts smaller */
  .full-width-container h1 {
    font-size: 190%;
    line-height: 120%;
    letter-spacing: 2px;
    margin: 0 0 2%;
  }
  .full-width-container h2 {
    font-size: 160%;
    line-height: 130%;
    margin: 0 0 2%;
  }
  .full-width-container h3 {
    font-size: 152.9%;
    line-height: 146.1%;
    margin: 0 0 1.7%;
  }
  body.front .panel-pane h2 {
    font-size: 190%;
    line-height: 120%;
    letter-spacing: 2px;
    margin: 0 0 2%;
  }
  
  /* END >767 STYLES */
}
@media screen and (max-width: 720px) {
  /* START >720 STYLES */
  
  /* Center content */
  div#content{
    max-width: 720px;
  }

  /* Carousel image caption */
  .views-field-field-highlight-image-caption {
    font-size: 13px;
  }

  /* END >720 STYLES */
}
@media screen and (max-width: 520px) {
  /* START 520 STYLES */
  
  /* Center content */
  div#content{
    max-width: 520px;
  }  

  .carousel-inner>.item {
    padding-bottom:60px;
  }

  /* Carousel controls */
  .carousel-control {
    font-size: 100px;
  }
  /* Carousel image caption */
  .views-field-field-highlight-image-caption {
    bottom: 0;
    height: 2.7em;
    width:95%;
    border-radius: 0;
    padding: 1em 1em 1em 5%;
  }

  /* END 520 STYLES */
}
@media screen and (max-width: 480px) {
  /* START 480 STYLES */
  
  /* Center content */
  div#content{
    max-width: 480px;
  }

  /* Carousel image caption */
  .views-field-field-highlight-image-caption {
    font-size: 12px;
    height: 3em;
  }

  /* Flatten the event date box and move above event info */
  body.front .date-box {
    float:none;
    padding: 8px 5px 5px 5px;
    width: 6.5em;
    text-align: left;
  }
  .date-box .dateM,
  .date-box .datej {
    display: inline;
    font-size: 1.4em;
    margin: 0;
    padding: 3px;
  }  
  /* Hide the hex wrapper of the date box. */
  .hex {
    float:none;
    display:block;
    margin-bottom:10px;
  }
  .hex-left,
  .hex-right {
    display:none;
  }
  .hex-center {
    float: none;
    width: 6.5em;
    height: auto;
  } 
  /* Move front page event info left into space left by moving the date box */
  .front-events .event-title,
  .front-events .event-date,
  .front-events .event-presenter,
  .front-events .event-details {
    margin: 0 0 4px 8px;
  }

  /* END 480 STYLES */
}
